<h1 class="ui header">Boards Home</h1>
<% @boards.each do |board| %>
<ul>
<li><h1><%=board.board_name%></h1>
</ul>
<%= link_to "Show", board_path(board), class: "ui blue button" %>
<%= link_to "Edit", edit_board_path(board), class: "ui green button" %>
<%= link_to "Delete", board_path(board), method: :delete, class: "ui red button" %>
<%end %>
<hr />
<br />
<%= link_to "New Board", new_board_path %>






